---
layout: custom-hero
---
<section class="hero">
    <img src="/assets/media/site/cropped-glideycake-192x192.png" style="background-color: var(--color-light);border-radius:10px;margin-bottom:10px;"/>
    <h1>
        Jonnycake.Tech
        <span class="subtitle">Developer Portfolio &amp; Blog</span>
    </h1>
    <p>
        Hey, I’m Jon – I’ve been in the tech world as a hobbyist since 2006 and as a
        professional since 2014, with a focus on web applications. In my day-to-day life,
        I frequently come across information/tips that help me to either accomplish my
        goals or just make my life easier and I’d love to share them with you!
    </p>
</section>
<section class="featured">
    <section>
        {% assign current_projects = site.projects | where_exp: 'project', 'project.end_date == nil' %}
        <h2>Active Project{% if current_projects.size > 1 %}s{% endif %}</h2>
        <p>
            {% if current_projects.size > 0 %}
                    {% for project in current_projects %}
                        <a href="{{ project.url }}">{{ project.title }}</a>
                        {% unless forloop.last %}<br/><br/>{% endunless %}
                    {% endfor %}
            {% else if site.projects.size > 0 %}
                <small class="no-results"><i class="fa fa-check"></i> All projects are currently completed</small>
            {% else %}
                <small class="no-results">Nothing to show, please check back later!</small>
            {% endif %}
        </p>
        {% if site.projects.size > current_projects.size %}
            <a href="/projects.html" class="button-accent">See Past Projects</a>
        {% endif %}
    </section>
    <section>
        <h2>Latest Blog Post</h2>
        <p>
            {% if site.posts.size > 0 %}
                {{ site.posts[0].date | date: '%Y-%m-%d' }} - <a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a>
            {% else %}
                <small class="no-results">Nothing to show, please check back later!</small>
            {% endif %}
        </p>
        {% if site.posts.size > 1 %}
            <a href="/blogs.html" class="button-accent">See More</a>
        {% endif %}
    </section>
</section>
