    <div class="post-header">
        <h1>{{ page.title }}</h1>
        {% if page.categories.size > 0 %}
            <div class="categories">
                {{ page.categories | join: ', ' }}
            </div>
        {% endif %}
        {% if page.target_date %}
            <div class="date">
                <small>Coming: {{ page.target_date }}</small>
            </div>
        {% elsif page.collection == 'upcoming' %}
            <div class="date">
                <small>Pending Schedule</small>
            </div>
        {% else %}
            <div class="date">
                <small>{{ page.date|date: '%Y-%m-%d' }}</small>
            </div>
        {% endif %}
    </div>
    <hr/>
    <div class="md-content">
        {% if page.collection == 'upcoming' and production_like %}
            <div class="teaser">
                <h2>What to Expect</h2>
                <p>
                    {{ page.description | default: "Details coming soon..." }}
                </p>
            </div>
        {% else %}
            {{ content }}
            {% include parts/disclaimer.html %}
        {% endif %}
        {% include parts/tags.html %}
    </div>

