{% assign position_class="unknown" %}
{% if include.position %}
    {% assign position_class = include.position %}
{% endif %}
{% assign previous_link = false %}
{% if page.previous %}
    {% assign previous_link = page.previous.url %}
    {% assign previous_text = "Previous" %}
    {% assign previous_title = page.previous.title %}
{% endif %}
{% assign next_link = false %}
{% if page.next %}
    {% assign next_link = page.next.url %}
    {% assign next_text = 'Next' %}
    {% assign next_title = page.next.title %}
{% endif %}
{% if include.previous_link %}
    {% assign previous_link = include.previous_link %}
    {% assign previous_text = include.previous_text | default: "Previous" %}
    {% assign previous_title = include.previous_title | default: false %}
{% endif %}
{% if include.next_link %}
    {% assign next_link = include.next_link %}
    {% assign next_text = include.next_text | default: "Next" %}
    {% assign next_title = include.next_title | default: false %}
{% endif %}
<div class="secondary-nav-bar secondary-nav-bar-{{ position_class }}">
        <div class="prev">
            {% if previous_link and include.hide_previous != true %}
                <a href="{{ previous_link }}" class="button-accent"><i class="fa fa-arrow-left"></i> {{ previous_text }}</a><br/>
                {% if previous_title %}
                    <small>{{ previous_title }}</small>
                {% endif %}
            {% endif %}
        </div>
        <div class="next">
            {% if page.next and include.hide_next != true %}
                <a href="{{ next_link }}" class="button-accent">{{ next_text }} <i class="fa fa-arrow-right"></i></a><br/>
                {% if next_title %}
                    <small>{{ next_title }}</small>
                {% endif %}
            {% endif %}
        </div>
</div>
